/* Markdown Styles */
.md h1,
.md h2,
.md h3 {
  text-transform: uppercase;
}

.md h1 {
  margin: 30px 0 0 0;
}
/* Release Version */
.md h2 {
  margin: 30px 0 5px 0;
  border-bottom: 1px solid var(--color_primary);
}
/* Release Date */
.md h2 + p {
  text-align: right;
}
/* Release subheadings "Changes, Bug Fixes, etc" */
.md h3 {
  margin: 5px 0 5px 15px;
}
.md {
  line-height: 1.25;
}

.md li {
  margin-left: 30px;
}

.md code {
  color: var(--color_code);
}
